#### Classify whether a given movie review is positive or negative.

In [1]:
#Import necessary libraries

import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from  sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report

### About Data: IMDB Dataset
- This data consists of two columns. - review - sentiment
- Reviews are the statements given by users after watching the movie.
- sentiment feature tells whether the given review is positive or negative.

In [2]:
df = pd.read_csv('movies_sentiment_data.csv')

In [3]:
df.head()

                                              review sentiment
0  I first saw Jake Gyllenhaal in Jarhead (2005) ...  positive
1  I enjoyed the movie and the story immensely! I...  positive
2  I had a hard time sitting through this. Every ...  negative
3  It's hard to imagine that anyone could find th...  negative
4  This is one military drama I like a lot! Tom B...  positive

In [4]:
df.shape

(19000, 2)

In [5]:
df['Category'] = df['sentiment'].apply(lambda x: 1 if x == 'positive' else 0)

In [6]:
df.head()

                                              review sentiment  Category
0  I first saw Jake Gyllenhaal in Jarhead (2005) ...  positive         1
1  I enjoyed the movie and the story immensely! I...  positive         1
2  I had a hard time sitting through this. Every ...  negative         0
3  It's hard to imagine that anyone could find th...  negative         0
4  This is one military drama I like a lot! Tom B...  positive         1

In [7]:
import matplotlib.pyplot  as plt

In [ ]:
## plt.plot('Category',df)

### Excercise 1: using sklearn pipeline module create a classification pipeline to classify the movie review's positive or negative.

- use CountVectorizer for pre-processing the text.
- use Random Forest as the classifier with estimators as 50 and criterion as entropy.
- print the classification report.

In [9]:
from sklearn.model_selection import train_test_split

In [13]:
X_train,X_test,y_train,y_test= train_test_split(df['review'],df['Category'],test_size=0.2,random_state=0)

In [14]:
X_train.shape

(15200,)