## 1. Regex in Customer Support


### a. Retrieve Order Number

In [19]:
import re

chat1='ABC : Hello, I am having an issue with my order # 412889912'

pattern = 'order[^\d]*(\d*)'

In [22]:
matches = re.findall(pattern, chat1)

In [23]:
matches

['412889912']

In [24]:
chat2='ABC: I have a problem with my order number 412889912'
pattern = 'order[^\d]*(\d*)'
matches = re.findall(pattern, chat2)

In [25]:
matches

['412889912']

In [26]:
chat3='ABC: My order 412889912 is having an issue, I was charged 480$ when online it says 380$'
pattern = 'order[^\d]*(\d*)'
matches = re.findall(pattern,chat3)

In [27]:
matches

['412889912']

In [28]:
# Using single function

def get_pattern(pattern,text):
    matches = re.findall(pattern,text)
    if matches:
        return matches[0]

In [31]:
get_pattern('order[^\d]*(\d*)',chat1)

'412889912'

### b. Retrieve email

In [32]:
chat1 = 'ABC: you ask lot of questions ðŸ˜   1235678912, abc@xyz.com'
chat2 = 'ABC: here it is: (123)-567-8912, abc@xyz.com'
chat3 = 'ABC: yes, phone: 1235678912 email: abc@xyz.com'

In [36]:

get_pattern('[a-zA-Z0-9_]*@[a-z]*\.[a-zA-Z0-9]*', chat1)

'abc@xyz.com'

In [37]:
get_pattern('[a-zA-Z0-9_]*@[a-z]*\.[a-zA-Z0-9]*', chat2)

'abc@xyz.com'

In [38]:
get_pattern('[a-zA-Z0-9_]*@[a-z]*\.[a-zA-Z0-9]*', chat3)

'abc@xyz.com'

### c. Retrieve phone

In [48]:
get_pattern('(\d{10})|(\(\d{3}\)-\d{3}-\d{4})',chat1)
# patt[0]

('1235678912', '')

In [43]:
get_pattern('(\d{10})|(\(\d{3}\)-\d{3}-\d{4})',chat2)

('', '(123)-567-8912')

In [45]:
get_pattern('(\d{10})|(\(\d{3}\)-\d{3}-\d{4})',chat3)

('1235678912', '')

## 2. Regex for Information Support

In [49]:
text='''
Born	Elon Reeve Musk
June 28, 1971 (age 50)
Pretoria, Transvaal, South Africa
Citizenship	
South Africa (1971â€“present)
Canada (1971â€“present)
United States (2002â€“present)
Education	University of Pennsylvania (BS, BA)
Title	
Founder, CEO and Chief Engineer of SpaceX
CEO and product architect of Tesla, Inc.
Founder of The Boring Company and X.com (now part of PayPal)
Co-founder of Neuralink, OpenAI, and Zip2
Spouse(s)	
Justine Wilson
â€‹
â€‹(m. 2000; div. 2008)â€‹
Talulah Riley
â€‹
â€‹(m. 2010; div. 2012)â€‹
â€‹
â€‹(m. 2013; div. 2016)
'''

In [50]:
get_pattern(r'Born(.*)\n',text).strip()

'Elon Reeve Musk'

In [56]:
get_pattern(r'age (\d+)',text)

'50'

In [59]:
get_pattern(r'Born.*\n(.*)\(age',text).strip()

'June 28, 1971'

In [60]:
get_pattern(r'\(age.*\n(.*)',text)

'Pretoria, Transvaal, South Africa'

In [63]:
def extract_info(text):
    name = get_pattern(r'Born(.*)\n',text)
    age = get_pattern(r'age (\d+)',text)
    dob= get_pattern(r'Born.*\n(.*)\(age',text)
    birth_place = get_pattern(r'\(age.*\n(.*)',text)
    return{
        'Name':name.strip(),
        'Age':int(age),
        'DOB':dob.strip(),
        'Birth Place': birth_place.strip()
        
    }

In [64]:
extract_info(text)

{'Name': 'Elon Reeve Musk',
 'Age': 50,
 'DOB': 'June 28, 1971',
 'Birth Place': 'Pretoria, Transvaal, South Africa'}

In [67]:
text2 = '''
Born	Mukesh Dhirubhai Ambani
19 April 1957 (age 64)
Aden, Colony of Aden
(present-day Yemen)[1][2]
Nationality	Indian
Alma mater	
St. Xavier's College, Mumbai
Institute of Chemical Technology (B.E.)
Stanford University (drop-out)
Occupation	Chairman and MD, Reliance Industries
Spouse(s)	Nita Ambani â€‹(m. 1985)â€‹[3]
Children	3
Parent(s)	
Dhirubhai Ambani (father)
Kokilaben Ambani (mother)
Relatives	Anil Ambani (brother)
Tina Ambani (sister-in-law)
'''

In [68]:
extract_info(text2)

{'Name': 'Mukesh Dhirubhai Ambani',
 'Age': 64,
 'DOB': '19 April 1957',
 'Birth Place': 'Aden, Colony of Aden'}